audacity/
autostart/
BraveSoftware/
cava/
Code/
dconf/
dolphinrc
#fish/
#ghostty/
#.git/
#.gitignore
go/
gtk-3.0/
gtk-4.0/
htop/
#hypr/
Insync/
kitty/
kwalletrc
lsp-plugins/
matplotlib/
mimeapps.list
mozilla/
nemo/
neofetch/
#nvim/
nwg-look/
#omf/
Proton/
pulse/
qBittorrent/
qt6ct/
QtProject.conf
#rofi/
rofi.joel/
session/
Slack/
stremio-downloader/
#swaync/
systemd/
#waybar/
xsettingsd/
yay/
#yazi/
