# Ignore everything
*

# Keep this file
!.gitignore

# Allow selected folders
!fish/
!fish/**

!ghostty/
!ghostty/**

!hypr/
!hypr/**

!nvim/
!nvim/**

!omf/
!omf/**

!rofi/
!rofi/**

!swaync/
!swaync/**

!waybar/
!waybar/**

!yazi/
!yazi/**
